/* INFO BULLET COMPONENT */

.info-bullet-container {
  position: relative;
  padding: 0 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 120px;

  .info-wrapper {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .info-bullet-img {
    border-radius: 50%;
    width: 445;
  }

  .arrow-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .single-circle-img {
    position: absolute;
    right: -340px;
    bottom: 0;
    z-index: -1;
  }

  @media screen and (max-width: 1250px) {
    flex-direction: column-reverse;
    text-align: center;
    gap: 70px;
    padding: 0 30px;
    margin-bottom: 120px;

    .info-wrapper {
      width: 500px;
      align-items: center;
    }

    .arrow-img {
      top: 300px;
      bottom: auto;
    }

    .single-circle-img {
      top: 0;
      bottom: auto;
    }
  }

  @media screen and (max-width: 700px) {
    .info-bullet-img {
      max-width: 300px;
    }

    .info-wrapper {
      width: 100%;

      & h2 {
        font-size: 32px;
        line-height: 32px;
      }
    }

    .arrow-img {
      top: 150px;
      right: -400px;
    }

    .single-circle-img {
      display: none;
    }
  }
}

/* INFO BULLET COMPONENT --- INVERSED */

.inverse {
  flex-direction: row-reverse;

  .arrow-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .single-circle-img {
    position: absolute;
    left: -340px;
    bottom: 0;
    z-index: -1;
  }

  @media screen and (max-width: 1250px) {
    flex-direction: column-reverse;
    text-align: center;
    gap: 70px;
    padding: 0 30px;
  }

  @media screen and (max-width: 700px) {
    .arrow-img {
      left: -200px;
      top: 0;
    }
  }
}
