.faq-container {
  padding: 0 160px;

  & h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  .sub-faq-container {
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */

    & h3 {
      /* min-width: 300px; */
      flex: 1;
    }

    .questions-map {
      flex: 2;
      /* width: 100%; */
      background-color: red;
    }
  }
}
