.horizontal-navigation {
  margin-left: 60px;
  display: flex;
  gap: 32px;

  @media screen and (max-width: 700px) {
    display: none;
  }

  .link {
    font-family: var(--font-heading);
    color: var(--clr-dimGrey);
    font-size: 0.938rem;
    font-weight: 700;
    text-transform: capitalize;
    transition: 250ms ease;

    &:hover {
      color: var(--clr-yellow);
    }
  }
}
